/*
   TODO - convert all px to em
        - test across all browsers
        - make file headings
        - remove old/redundant css styles lines
        - change over to jquery instead of onclick
*/


/* CSS for the main body of my website */
body {
    background: url(/images/stars.gif);
    font-family: 'Source Code Pro', 'monospace', 'Arial';
}

/* Style for my main nav box to the upper left. */
nav {
    margin:auto;
    top:2%;
    padding: 30px;
    width: 500px;
    height: auto;
    color: #9EFFE2;
    text-align: center;
}

/* Style for the unordered list (my links in the nav box). */
nav ul {
    padding: 0px;
    list-style: none;
    font-weight: bold;
    margin-right: 20px;
}

table {
    width: 100%;
    text-align: left;
    border: none;
    border-collapse: collapse;
    font-weight: bold;
    background-color: black;
}


/* Set link decoration, make them blend in. */
a {
    text-decoration: none;
    color: #9EFFE2;
    background-color:#000000;
}

/* Set link hover decoration. */
a:hover {
    text-decoration: underline;
}

/* Header 1 style. */
h1 {
    font-size: 1.8em;
    color: #FFFFFF;
    background-color: #000000;
    display: inline;
    float: none;
}

/* Header 2 style. */
h2 {
    font-size: 1.2em;
    color: #FFFFFF;
    background-color: #000000;
    display: inline;
    float: none;
}

/* Paragraph style. */
p {
    font-size: 1em;
    color: #9EFFE2;
    background-color: #000000;
    display: inline;
    float: none;
}

div {
    background-color: #000000;
    text-align: left;
}

form, input {
    margin: auto;
    width: 250px;
}

textarea {
    margin: auto;
    height: 100px;
    width: 250px;
}

/* Contact form style. */
#contact_form {
    margin: auto;
    display: none;
    float: none;
    color: #9EFFE2;
    text-align: center;
    width: 200px;
}