<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/style.css">

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0" />

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.0/css/bootstrap.min.css" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.0/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
    <div class="row align-items-end">
      <div class="col-xs">

        <nav>
          <br>
          <h4><a href="http://teux.me">Home</a></h4>
          <h4><a href="/">Blog</a></h4><br>
        </nav>
        <h1>{{ page.title }}</h1>
        <section>
          {{ content }}
        </section>
        <footer>
        </footer>
      </div>
    </div>
  </body>
</html>
